<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head')%>
<style>
	@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
</style>
<style>
	@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
</style>
<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado.ejs')%>
	<!-- /Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= detalle.nombre %></h2> 
			 <p class="product-detail-description"><% if (locals.user != null && locals.user.id == detalle.user_id){ %>
				<a class="edit-prod" href="/product/edit/<%= detalle.id %>">Editar</a>
				<form action="/product/delete/<%= detalle.id %>" method="POST">
					<button type="submit">Borrar</button>
				</form>
				<%}%>
			</p>
			
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<div class="img-prod">
					<img src="/images/products/<%= detalle.imagen %>" alt="Detalle Imagen">
					</div>
					<div class="product-detail-description-noedit">
					<h4><a href="/profile/id/<%= detalle.owner.id %>">Cargado por: <%= detalle.owner.username %></a></h4>
					<p class="desc-prod">
						<%= detalle.descripcion %></p></div>
				</article>

				<div class="col-12 col-lg-4">
					<section class="comments">
							<ul>
							<% if(detalle.comentariosproducto.length < 10){ %> 
							<% for(let i=0; i<detalle.comentariosproducto.length; i++){ %>
								<article>
									<img src="images/users/profile.jpg" alt="profile image">
									<div class="data">
										<p class="user">
										<strong> <a href="/profile/id/<%= detalle.comentariosproducto[i].usuariodelcomentario.id %>"><%= detalle.comentariosproducto[i].usuariodelcomentario.username %></a> </strong>
										<%= detalle.comentariosproducto[i].comentario %></p>
									</div>
								</article>
							<% } %>
							<% } else { %>
								<% for(let i=0; i<10; i++){ %>
									<article>
										<img src="/images/users/<%= detalle.comentariosproducto[i].usuariodelcomentario.imagen %> " alt="profile image">
										<div class="data">
											<p class="user">
											<strong> <a href="/profile/id/<%= detalle.comentariosproducto[i].usuariodelcomentario.id %>"><%= detalle.comentariosproducto[i].usuariodelcomentario.username %></a> </strong>
											<%= detalle.comentariosproducto[i].comentario %></p>
										</div>
									</article>
								<% } %>
							<% } %>
							</ul>

					</section>
					<% if(locals.user){ %> 
					<form class="form" action="/product/storeComentarios/<%= detalle.id %> " method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario" name="comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<% } else { %>
						<form class="form">
							<input class="form-input" type="text" value="" placeholder="Inicie sesión para comentar" name="comentario" disabled>
						</form>
						<% } %> 
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer.ejs')%>
	<!-- /footer -->

</body>	
</html>