<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head')%>
<style>
	@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
</style>
<style>
	@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
</style>
<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado.ejs')%>
	<!-- /Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= detalle.nombre %></h2> 
			<p class="product-detail-description">
				<a class="edit-prod" href="/product/edit">Editar</a>
				<form action="/product/delete/<%=  %>" method="POST">
					<button type="submit">Borrar</button>
				</form>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<div class="img-prod">
					<img src="images/products/Rolex2.jpg" alt="Rolex">
					</div>
					<div class="product-detail-description-noedit">
					<p class="desc-prod">
						Inspirado en el rico patrimonio que ha unido Rolex con el mundo de la navegación desde los años cincuenta, el Yacht‑Master II reúne la excelente tecnología de Rolex para crear un cronógrafo de regata diseñado para las competiciones de vela.</p></div>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<img src="images/users/profile.jpg" alt="profile image">
							<div class="data">
								<p class="user">
								<strong> <a href="/profile">LNorris4</a> </strong>
								 El producto presenta una gran calidad en sus materiales. Muy recomendable!!</p>
							</div>
						</article>
						<article>
							<img src="images/users/dami-adebayo-k6aQzmIbR1s-unsplash.jpg" alt="profile image">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">jdoe</a> </strong>
									La verdad es que me ha impresionado, luce muy bien, es muy bonito.</p>
							</div>
						</article>
						<article>
							<img src="images/users/michael-dam-mEZ3PoFGs_k-unsplash.jpg" alt="profile image">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">spaulson</a> </strong>
									Son los únicos relojes que me gustan. Este modelo en concreto es precioso, un reloj para vestir con tu toque informal.
									</p>
							</div>
						</article>
						<article>
							<img src="images/users/ayo-ogunseinde-sibVwORYqs0-unsplash.jpg" alt="profile image">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">ayoseinde</a> </strong>
									Después de varios meses de uso estoy muy contento con él. Contra mayor uso más bonita se pone la correa. Además se ve la hora con total claridad.</p>
							</div>
						</article>
						<article>
							<img src="images/users/jurica-koletic-7YVZYZeITc8-unsplash.jpg" alt="profile image">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">jkoletic</a> </strong>
									Producto excelente, cumple de sobra con las expectativas. Muy recomendado para alguien que quiera un reloj a buen precio y con todas las funciones que se suelen requerir. Correa duradera y cómoda, el tamaño es comedido, en ningún caso molesta, muy cómodo de llevar. Recomendado.</p>
							</div>
						</article>

					</section>
					<form class="form" action="/product" method="GET">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer.ejs')%>
	<!-- /footer -->

</body>	
</html>