<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head')%>
<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado')%>
	<!-- /Header -->

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="/images/users/<%= user.imagen %>" alt="foto de perfil" class="fotoPerfil2">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"><%= user.username %>  
						<a class="edita" href="/register/edit/<%= user.id %>">
							<i class="fas fa-cog edit"></i>
						</a>
					</h1>
					<!-- <a class="btn mt-3 ml-4" href="">SEGUIR</a> -->
				</div>
				<div>
					<ul class="detalleuser">
						<li><% let prods=0 %>
						<%for (let index = 0; index < user.productodelusuario.length+1; index++) {
							prods = index;
							
						}  %> <%= prods %> <% if(prods == 1){%> Producto<%} else {%> Productos<%}%></li>
						<li><% let comments=0 %>
						<%for (let index = 0; index < user.comentariodelusuario.length+1; index++) {
							comments = index;
							
						}  %> <%= comments %> <% if(comments == 1){%> Comentario<%} else {%> Comentarios<%}%></li>
						<li>Miembro desde: <%= user.createdAt.toLocaleDateString() %></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Mis productos</h2>
			</div>
			<!-- Show mis productos -->
			
				<% for(let i=0; i<user.productodelusuario.length; i++){ %>
					<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
							<a href="/product/id/<%= user.productodelusuario[i].id %> ">
								<figure class="product-box_image">
									<img src="/images/products/<%= user.productodelusuario[i].imagen %>" alt="Panerai">
								</figure>
								<article class="product-box_data">
									<h2><%= user.productodelusuario[i].nombre %> </h2>
									<p><%= user.productodelusuario[i].descripcion %></p>
									<p><%= user.productodelusuario[i].comentariosproducto.length %><% if(user.productodelusuario[i].comentariosproducto.length == 1){ %> Comentario <% } else {%> Comentarios<%}%></p>
								</article>
							</a>
						</section>
					</div>
				<% } %> 
			
		</div>
	</div>
	<!-- /Mis productos -->


	<!-- footer -->
	<%- include('./partials/footer.ejs')%>
	<!-- /footer -->
</body>	
</html>