<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head')%>

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado.ejs')%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<div class="todo">
					
				<form id="ingresoform" name="ingfor" action="/register/edit" method="POST" enctype="multipart/form-data">
					<div class="divform">
						<img class="fotoPerfil3" src="/images/users/<%= user.imagen %>">
						<div class="marcd1" id="primdiv">
							<label class="Llc">Nombre de usuario:</label>
							<input class="inp1 inpp" type="text" name="username" id="n1" value="<%= user.username %>">
						</div>
						<div class="marcd">
							<label class="">Correo:</label>
							<input class="inp2 inpp" type="email" name="mail" id="c1" disabled value="<%= user.mail %>">
						</div>
						<div class="marcd">
							<label class="">Constraseña:</label>
							<input class="inpp inpp3" type="password" name="contrasena" id="c1">
						</div>
						<div class="marcd">
							<label class="">Imagen de perfil:</label>
							<input class="inp8 inpp" type="file" id="c1" name="imagen">
						</div>
						<div class="marcd">
							<label class="">Fecha de nacimiento:</label>
							<input class="inp3 inpp" type="date" name="nacimiento" id="c1" disabled>
						</div>
						<div class="marcd2">
							<label class="">Teléfono:</label>
							<input class="inp5 inpp" type="tel" name="telefono" id="c1" placeholder="XX-XXXX-XXXX" value="<%= user.telefono %>">
						</input>
						</div>
						<div class="noa">
						<input type="submit" class="bot" value="Guardar Cambios">
						</div>
					</div>
				</form>
				</div>
			</h2>

		</div>
	</div>

	<!-- footer -->
	<%- include('./partials/footer.ejs')%>
	<!-- /footer -->
</body>

</html>

<!-- footer -->